{% extends "base.html" %}

{% load i18n %}
{% load price from taxed_prices %}
{% load staticfiles %}

{% block title %}{% trans "Checkout" context "Checkout page title" %} — {{ block.super }}{% endblock %}

{% block header %}
  <div class="container-fluid navbar__login">
    <div class="container">
      <p>Просто и безопасно</p>
    </div>
  </div>
  <header class="checkout__header">
    <div class="container">
      <a href="{% url 'home'%}">
        <svg data-src="{% static "images/logo.svg" %}" height="38px" width="176px" />
      </a>
      <h1>Оформление заказа</h1>
    </div>
  </header>
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
  <div class="row checkout">
    <!-- <div class="col-md-7">
      {% block forms %}{% endblock %}
    </div> -->
    <div class="col-md-5">
      <div class="checkout__review">
        <h3 class="checkout__review__tittle">ПРОСМОТР ЗАКАЗА</h3>
        {% for line, line_total in cart_lines %}
          <div class="row">
            <div class="col-8">
              <p><strong>{{ line.variant.product }}</strong> x {{ line.quantity }}<br>
                <span class="checkout__review__variant">{{ line.variant }}</span></p>
            </div>
            <div class="col-4">
              <p class="float-right">
                {% price line_total %}
              </p>
            </div>
          </div>
        {% endfor %}
        <div class="row checkout__review__section">
          <div class="col-8">
            <p>Промежуточный итог</p>
          </div>
          <div class="col-4">
            <p class="float-right">
              {% price cart_subtotal %}
            </p>
          </div>
        </div>
        {% if cart_are_taxes_handled %}
          <div class="row checkout__review__section">
            <div class="col-8">
              {% if site.settings.display_gross_prices %}
                <p>Включая НДС</p>
              {% else %}
                <p>НДС</p>
              {% endif %}
            </div>
            <div class="col-4">
              <p class="float-right">{% price cart_total.tax %}</p>
            </div>
          </div>
        {% endif %}
        <div class="row checkout__review__section">
          <div class="col-12">
            <h3>Промо код</h3>
            {% include "checkout/snippets/voucher_form.html" with checkout=checkout form=voucher_form %}
          </div>
        </div>
        <div class="row checkout__review__section">
          <div class="col-8">
            <h3>Итого</h3>
          </div>
          <div class="col-4">
            <h3 class="float-right">{% price cart_total.gross %}</h3>
          </div>
        </div>
      </div>
      <button type="submit" class="btn primary">
        {% trans "Continue" context "Checkout shipping address primary action" %}
      </button>
    </div>
  </div>
{% endblock content %}
